# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtualenv
venv/
.venv/
# custom python env created for project
ocrenv/

# IDEs
.vscode/
.idea/

# system
*.log

# dotenv
.env

# models and data
models/
data/
# ignore generated/large packages
ocrenv/

# OS files
Thumbs.db
Desktop.ini
